
.imgbg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.imgwrap {
  overflow: hidden;
  position: relative;
}

.imgcontent {
  position: relative;
}

@font-face {
  font-family: "CherryBomb";
  src: url("websiteassets\cherry bomb.ttf") format("woff");
  /* Add additional formats (e.g., .ttf) if needed */
}

h1 {
  font-family: "CherryBomb", Times, serif;
}