

@font-face {
  font-family: "CherryBomb";
  src: url("websiteassets/fonts/cherry bomb.ttf") format("woff");
  /* Add additional formats (e.g., .ttf) if needed */
}

@font-face {
  font-family: "Cherish";
  src: url("websiteassets/fonts/Cherish.ttf") format("woff");
  /* Add additional formats (e.g., .ttf) if needed */
}

h1 {
  font-family: "Cherish", Times, serif;
  color: #ff80ff;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: .1px;
}

p {
  font-family: "Cherrybomb", Times, serif;
  color: #ff1aff;
  -webkit-text-stroke: #560058;
  -webkit-text-stroke-width: 1.7px;
  font-size: 30px;
}

html {
	margin:  0 4rem;
}
.gradienttext {
	font-family: "Cherrybomb", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
  background-clip: text;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  animation: reverse;
	-webkit-animation: hue 2s infinite linear;
}


@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.user {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;

  object-fit: cover;
}


li.thing {
  display: inline;
  
}

.links {font-family: "Cherish", Times, serif; 
  text-decoration: none; 
  color: #ff1aff;
  font-size: 25px;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;}

  .links2 {font-family: "Cherish", Times, serif; 
    text-decoration: none; 
    color: #ff80ff;
    font-size: 25px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;}



    table.customTable {
      font-family: "Cherrybomb", Times, serif; 
      color: #ff1aff;
      -webkit-text-stroke: black;
    -webkit-text-stroke-width: .12px;
      width: 75%;
      background-color: #FFFFFF;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #FF80FF;
      border-style: solid;
      background-color: #b3c1d6;

      margin-left: auto;
      margin-right: auto;
    }
    
    table.customTable td, table.customTable th {
      border-width: 2px;
      border-color: #FF1AFF;
      border-style: solid;
      padding: 10px;
      color:FF80FF;
      -webkit-text-stroke: black;
      -webkit-text-stroke-width: .12px;
    }
    
    table.customTable thead {
      background-color: #FF80FF;
      -webkit-text-stroke: black;
      -webkit-text-stroke-width: .12px;
    }


    